In [192]:
from yhelper import neural_modeling, clean_text
import tensorflow
import numpy as np
import langdetect

In [193]:
import pandas as pd

df = pd.read_csv('train.csv')

In [194]:
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [196]:
df[df.keyword.isnull()].target.value_counts()

1    42
0    19
Name: target, dtype: int64

In [197]:
df[df.location.isnull()].target.value_counts()

0    1458
1    1075
Name: target, dtype: int64

In [180]:
df.text = df.text.apply(lambda x: clean_text(x))

In [199]:
df[df.text == '']

Empty DataFrame
Columns: [id, keyword, location, text, target]
Index: []

In [182]:
df.drop(5115, inplace=True)

In [183]:
import numpy as np

In [184]:
df.dropna(inplace=True)

In [185]:
df.target.value_counts()

0    2884
1    2196
Name: target, dtype: int64

In [191]:
df.groupby('keyword')..sort_values('target', ascending=False)

                       id  location  text  target
keyword
collision              36        36    36      36
whirlwind              33        33    33      33
armageddon             32        32    32      32
fatalities             32        32    32      32
flames                 31        31    31      31
...                    ..       ...   ...     ...
razed                  10        10    10      10
epicentre               9         9     9       9
detonation              8         8     8       8
radiation%20emergency   6         6     6       6
inundation              5         5     5       5

[221 rows x 4 columns]

In [201]:
df.groupby("keyword").mean().sort_values('target', ascending=False).head(15)

                              id    target
keyword
debris               3126.270270  1.000000
wreckage            10759.717949  1.000000
derailment           3526.128205  1.000000
outbreak             7569.700000  0.975000
oil%20spill          7520.763158  0.973684
typhoon             10081.947368  0.973684
suicide%20bombing    9217.393939  0.969697
suicide%20bomber     9165.354839  0.967742
bombing              1649.724138  0.931034
rescuers             8167.171429  0.914286
suicide%20bomb       9114.942857  0.914286
nuclear%20disaster   7270.852941  0.911765
evacuated            4786.305556  0.888889
razed                7983.542857  0.885714
wildfire            10509.121212  0.878788

In [148]:
df.dropna(inplace=True)

In [149]:
df['lang'] = df.text.apply(lambda x: langdetect.detect(x))

In [150]:
df_en = df[df.lang == 'en']

In [10]:
embedding_dict={}
with open('glove.6B.300d.txt','r') as f:
    for line in f:
        values=line.split()
        word = values[0]
        vectors=np.asarray(values[1:],'float64')
        embedding_dict[word]=vectors
f.close()

In [151]:
from nltk.tokenize import word_tokenize
from tqdm import tqdm

def create_corpus_new(df):
    corpus=[]
    for review in tqdm(df['text']):
        words=[word.lower() for word in word_tokenize(review)]
        corpus.append(words)
    return corpus

In [152]:
corpus = create_corpus_new(df_en)

100%|██████████| 4855/4855 [00:00<00:00, 8055.38it/s]

In [153]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences

MAX_LEN=150
tokenizer_obj=Tokenizer()
tokenizer_obj.fit_on_texts(corpus)
sequences=tokenizer_obj.texts_to_sequences(corpus)
tweet_pad=pad_sequences(sequences,maxlen=MAX_LEN,truncating='post',padding='post')

In [154]:
word_index=tokenizer_obj.word_index
print('Number of unique words:',len(word_index))

Number of unique words: 13446

In [155]:
num_words=len(word_index)+1
embedding_matrix=np.zeros((num_words,300))

for word,i in tqdm(word_index.items()):
    if i < num_words:
        emb_vec=embedding_dict.get(word)
        if emb_vec is not None:
            embedding_matrix[i]=emb_vec

100%|██████████| 13446/13446 [00:00<00:00, 336897.32it/s]

In [156]:
tweet_pad.shape

(4855, 150)

In [157]:
pd.get_dummies(df_en.target)

      0  1
31    0  1
32    1  0
33    0  1
34    1  0
35    1  0
...  .. ..
7575  1  0
7577  1  0
7579  1  0
7580  1  0
7581  1  0

[4855 rows x 2 columns]

In [158]:
tweet_pad.shape

(4855, 150)

In [160]:
from imblearn.over_sampling import SMOTE

oversample = SMOTE()
X, y = oversample.fit_resample(tweet_pad, df_en.target)

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [162]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y ,test_size=0.2)

In [86]:
from sklearn.model_selection import train_test_split
import pandas as pd
from keras.preprocessing import sequence, text

total_vocab = set(word for text in df_en.text for word in text.split(' '))

tokenizer = text.Tokenizer(num_words=len(total_vocab))
tokenizer.fit_on_texts(df.text)
tokenized_list = tokenizer.texts_to_sequences(df.text)
padded_seq = sequence.pad_sequences(tokenized_list)
target_dummies = pd.get_dummies(df.target)

X_train, X_test, y_train, y_test = train_test_split(padded_seq, pd.get_dummies(df.target), test_size=0.2)

In [173]:
from keras.models import Sequential
from keras.layers import Embedding, LSTM, Dense, GlobalMaxPooling1D, Dropout, Bidirectional, Conv1D, Activation, BatchNormalization

model = Sequential()
embedding_size=150
model.add(Embedding(len(total_vocab), embedding_size))
model.add(Conv1D(64, kernel_size=5, padding='valid', activation='softmax', strides=1))
model.add(Bidirectional(LSTM(150, return_sequences=True)))
model.add(GlobalMaxPooling1D())
model.add(Dense(1, activation='sigmoid'))

model.compile(loss='binary_crossentropy', 
              optimizer='adam', 
              metrics=['accuracy', 'mse'])

model.summary()

Model: "sequential_12"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_12 (Embedding)     (None, None, 150)         2017950
_________________________________________________________________
conv1d_3 (Conv1D)            (None, None, 64)          48064
_________________________________________________________________
bidirectional_11 (Bidirectio (None, None, 300)         258000
_________________________________________________________________
global_max_pooling1d_7 (Glob (None, 300)               0
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 301
=================================================================
Total params: 2,324,315
Trainable params: 2,324,315
Non-trainable params: 0
_________________________________________________________________

In [174]:
model.fit(X_train, y_train, epochs=10, batch_size=16, validation_split=0.2)

print('-------Accuracy-------', '\n')
print(model.evaluate(X_test, y_test))

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/tensorflow_core/python/framework/indexed_slices.py:433: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "

Train on 3494 samples, validate on 874 samples
Epoch 1/10
3494/3494 [==============================] - 39s 11ms/step - loss: 0.6913 - accuracy: 0.5137 - mse: 0.2491 - val_loss: 0.6648 - val_accuracy: 0.5892 - val_mse: 0.2360
Epoch 2/10
3494/3494 [==============================] - 40s 11ms/step - loss: 0.4816 - accuracy: 0.7831 - mse: 0.1570 - val_loss: 0.5030 - val_accuracy: 0.7654 - val_mse: 0.1671
Epoch 3/10
3494/3494 [==============================] - 38s 11ms/step - loss: 0.2731 - accuracy: 0.8904 - mse: 0.0821 - val_loss: 0.6537 - val_accuracy: 0.7231 - val_mse: 0.1989
Epoch 4/10
3494/3494 [==============================] - 39s 11ms/step - loss: 0.1502 - accuracy: 0.9465 - mse: 0.0418 - val_loss: 0.6507 - val_accuracy: 0.7391 - val_mse: 0.1962
Epoch 5/10
3494/3494 [==============================] - 38s 11ms/step - loss: 0.0909 - accuracy: 0.9688 - mse: 0.0247 - val_loss: 0.7570 - val_accuracy: 0.7288 - val_mse: 0.2097
Epoch 6/10
3494/3494 [==============================] - 39s 11ms/step - loss: 0.0574 - accuracy: 0.9788 - mse: 0.0157 - val_loss: 0.8831 - val_accuracy: 0.7311 - val_mse: 0.2248
Epoch 7/10
3494/3494 [==============================] - 40s 11ms/step - loss: 0.0409 - accuracy: 0.9845 - mse: 0.0115 - val_loss: 1.0102 - val_accuracy: 0.7059 - val_mse: 0.2365
Epoch 8/10
3494/3494 [==============================] - 39s 11ms/step - loss: 0.0299 - accuracy: 0.9883 - mse: 0.0087 - val_loss: 1.1290 - val_accuracy: 0.7117 - val_mse: 0.2409
Epoch 9/10
1360/3494 [==========>...................] - ETA: 23s - loss: 0.0250 - accuracy: 0.9912 - mse: 0.0074

KeyboardInterrupt:

In [39]:
model.metrics_names

['loss', 'accuracy', 'mse']

In [40]:
test = pd.read_csv('test.csv')

In [127]:
test.keyword.value_counts()

deluged               23
demolished            22
rubble                22
seismic               21
first%20responders    21
                      ..
threat                 5
fatalities             5
forest%20fire          5
inundation             4
epicentre              1
Name: keyword, Length: 221, dtype: int64

In [41]:
tokenized_list_test = tokenizer.texts_to_sequences(test.text)
padded_seq = sequence.pad_sequences(tokenized_list_test)

In [42]:
y_pred = model.predict(padded_seq)

In [26]:
test_list = []

for i in y_pred:
    test_list.append(np.argmax(i))

In [27]:
sample_sub = pd.read_csv('sample_submission.csv')

In [28]:
sample_sub

         id  target
0         0       0
1         2       0
2         3       0
3         9       0
4        11       0
...     ...     ...
3258  10861       0
3259  10865       0
3260  10868       0
3261  10874       0
3262  10875       0

[3263 rows x 2 columns]

In [29]:
result = pd.DataFrame({'id':sample_sub['id'], 'target': np.array(test_list)})

In [30]:
result

         id  target
0         0       0
1         2       0
2         3       1
3         9       1
4        11       1
...     ...     ...
3258  10861       0
3259  10865       0
3260  10868       1
3261  10874       0
3262  10875       1

[3263 rows x 2 columns]

In [31]:
result.set_index('id', inplace=True)

In [32]:
result

       target
id
0           0
2           0
3           1
9           1
11          1
...       ...
10861       0
10865       0
10868       1
10874       0
10875       1

[3263 rows x 1 columns]

In [33]:
result.to_csv('result.csv')